TEST_INFURA_VERSION = 'v3'
TEST_INFURA_KEY = 'key'

TEST_METAMASK_PRIVATE_KEY_1 = 'test-account-1-key'
TEST_METAMASK_PRIVATE_KEY_2 = 'test-account-2-key'

TEST_RINKEBY_ETHERSCAN_KEY = 'etherscan key - rinkeby'