# COMMON
# Etherscan API Key
ETHERSCAN_KEY = '<key>'

# TEST
# ##############################################################
# Infra API Key Info
TEST_INFURA_KEY = '<key>'

# 1 - Test Account | 2 - Test Account (MetaMax)
TEST_METAMASK_PRIVATE_KEY_1 = '<key>'
TEST_METAMASK_PRIVATE_KEY_2 = '<key>'

# PRODUCTION
# ##############################################################
# Infra API Key Info
PROD_INFURA_KEY = '<key>'

# Real Account (Deployer/Owner Account)
PROD_PRIVATE_KEY_1 = '<key>'
